html {
    overflow-x: hidden;
    width: 100%;
}

body { 
    font-family: 'Lato', sans-serif;
}

.circle {
    width: 200px;
    fill: #414656;
}


.navbar a {
    color: #98A4CB;
    font-size: 2em;
    font-weight: 700;
    margin: 20px;
}

.navbar a:hover {
    color: #465593;
    transition: 0.5s;
}

.nav-link.active {
    color: #465593;
    text-decoration: underline;
}

.navbar-expand-lg {
    width: auto;
}

.navbar {
    justify-content: space-between;
    align-items: center; 
}

.main-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo-image-main {
    max-width: 100%;
    height: 10vh;
    text-align: center;
    position: relative;
    align-items: center;
}

.catch-phrase {
    text-align: center;
    color: #495697;
    font-weight: 700;
}

iframe {
    margin-top: 20px;
    max-width: 100%;
}

p {
    color: #485795;
    font-weight: 700;
}

.group-info {
    margin-top: 30px;
    padding: 5px;
    font-size: 1.5rem;
    list-style: none;
    background-color: transparent;
}

.list-group-item {
    color: #485795;
    font-weight: 700;
    padding-top: 1rem;
    background-color: transparent;
    border: none;
}

.second-content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
}

.benefits-title {
    color: #87CB9A;
    font-weight: 700;
    margin-top: 10px;
}

.benefits-text {
    word-wrap: break-word;
    font-weight: 400;
    margin-top: 15px;
    color: #434756;
    font-size: 24px;
}

.support {
    background-color: #b5d17f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 315px;
}

.support-title {
    color: #485795;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}

.support-text {
    color: #485795;
    font-size: 2vh;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 350px;
}

.quiz-section  {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #94A9FF;
    padding-top: 80px;
}

.quiz-title {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    margin: auto;
    font-size: 6vh;
}

.quiz-text {
    font-size: 3.5vh;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: white;
    width: 755px;
}

.quiz-text-options {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
}

.quiz-images {
    max-width: 100%; 
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.quiz-images:hover {
    transform: scale(0.95);
}

.quizzes-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.quiz-options {
    margin: 20px;
    flex: 1;
    box-sizing: border-box;
    max-width: 250px; 
}

.image-container {
    margin-bottom: 10px;
}

.quiz-options-text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 10px;
    font-size: 2vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

@media (max-width: 768px) {
    .quiz-options {
        flex: 0 0 100%; 
        max-width: 100%; 
    }
}

footer {
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.logo-image-main-footer {
    max-width: 100%;
    height: 12vh;
    text-align: center;
    position: relative;
    align-items: center;
    fill: white;
    color: white;
}